body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 30px;
}
.orange-color{
    color: rgb(233, 172, 4);

}
.flexible-container{
    display: flex;
    margin: bottom 200px;
    margin-top: -100px;
}
.half-width{
    width: 70%;
    padding-left: 5%;
    margin-top: 70px;

}
.half-width img{
    width: 70%;
  margin-top: 100px;
  margin-bottom: 60px;
  padding-left: 10px;
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(rgb(255, 179, 0),rgba(255, 0, 21, 0.842));
   padding: 5px 20px;
   color: white;
   font-weight: 700;
   border-radius: 7px;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 10%;

}
.dream-big img{
    margin-top: 70px;
    margin-bottom: 50%;
    

}
.experience{
    padding-bottom: 15%;
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;

}
.experience-item{
    width: 80%;
    margin-left: 8%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.developer-xp{
    padding-bottom: 7%;
    padding-left: 20px;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
     border-image-slice: 1;
}
#full-stack-exp{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
     border-image-slice: 1

}
footer p{
    text-align: center;
}


    